<div class="container" style="text-align:center;">
<div class="well">
<h1>Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><p class="muted">email</p>
  <%= f.email_field :email %></div>

  <div><p class="muted">password</p>
  <%= f.password_field :password %></div>

  <div><p class="muted">password_confirmation</p>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up",:class=>"btn-large btn-primary"%></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>